@media (min-width: 1850px)
  .slider
    &__info
      font-size: 20px
  .content
    &__item
      max-width: 2100px
    &__title
      font-size: 40px
    &__text
      font-size: 20px

@media (max-width: 1850px)
  .content
    &__item
      max-width: 1800px

@media (max-width: 1550px)
  .content
    &__item
      max-width: 1500px

@media (max-width: 1250px)
  .content
    &__item
      max-width: 1200px

@media (max-width: 1049px)
  .slider
    height: auto
    margin-top: 0
    &-carousel
      display: none
    &-fade
      display: block

  .content
    &__item
      max-width: 960px
    &__description
      width: 100%
    &__title
      font-size: 18px
      letter-spacing: 7px
      &-strong
        display: inline
    &__text
      font-size: 14px
    &__image
      width: 100%

@media (min-width: 992px)
  .swiper
    &:hover
      .swiper-button-prev,
      .swiper-button-next
        transform: translateX(0)
        opacity: 1
        visibility: visible

@media (max-width: 768px)
  .content
    &__item
      padding: 0 15px
    &__description
      &--right
        margin-bottom: 60px

@media (max-width: 576px)
  .slider
    margin-bottom: 100px

@media (max-width: 480px)
  .slider
    margin-bottom: 80px
    &__wrapper
      margin: 0 20px
    &-fade
      margin-bottom: 0
  .content
    &__item
      padding: 0
      margin-bottom: 70px
    &__text
      margin-bottom: 20px
    &__description
      margin-bottom: 20px
